@use '../global.scss' as g;

.ProductList {
    display: grid;
    place-content: center;
    grid-template-columns: repeat(auto-fill, 30rem);
    max-width: min(100%, 128rem);
    padding: 1rem;
    margin: 0 auto;
    transition: .6s ease all;
}