@use '../global.scss' as g;

@media (min-width: 640px) {
    .ProductList {
        transition: .3s all ease;
        grid-template-columns: repeat(auto-fill, 32rem);
        gap: 3rem;
    }
}

@media (min-width: 900px) {
    .ProductList {
        grid-template-columns: repeat(auto-fill, 28rem);
    }
}